<div class="counter-container">
  <fa-icon [icon]="['fab', 'twitter']" size="3x"></fa-icon>
  <div class="counter" data-target="12000"></div>
  <span>Twitter Followers</span>
</div>

<div class="counter-container">
  <fa-icon [icon]="['fab', 'youtube']" size="3x"></fa-icon>
  <div class="counter" data-target="5000"></div>
  <span>Youtube subscribers</span>
</div>

<div class="counter-container">
  <fa-icon [icon]="['fab', 'facebook']" size="3x"></fa-icon>
  <div class="counter" data-target="7500"></div>
  <span>Facebook Fans</span>
</div>
