<mat-toolbar color="accent" style="display: flex; justify-content: space-between;">
  <div style="cursor: pointer;" routerLink="/">
    <fa-icon icon="diagram-project"></fa-icon>
    50Days50Projects</div>
  <div style="font-size: 12px; font-style: italic;">Projects created in VanillaJS by Brad Traversy</div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div style="padding-top: 10px;">
      <button mat-button color="accent" routerLink="/blurry-loading">Blurry Loading</button>
    </div>
    <div>
      <button mat-button color="accent" routerLink="/vertical-slider">Vertical Slider</button>
    </div>
    <div>
      <button mat-button color="accent" routerLink="/background-slider">Background Slider</button>
    </div>
    <div>
      <button mat-button color="accent" routerLink="/random-choice-picker">Random Choice Picker</button>
    </div>
    <div>
      <button mat-button color="accent">Live User Filter</button>
    </div>
    <div>
      <button mat-button color="accent">Content Placeholder</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
